<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>1.姓名案例_插值语法实现</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName">
        <br/> <br/>名：
        <input type="text" v-model="lastName">
        <br/><br/>全名：
        <span>{{firstName.slice(0,3)}}-{{lastName}}</span>
    </div>
</body>
<script>
    //阻止vue在启动时生成生产提示
    Vue.config.productionTip = false;
    const vm = new Vue({
        data() {
            return {
                firstName: '张',
                lastName: '三'
            }
        }
    });
    vm.$mount('#root');
</script>

</html>